html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-button {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
}
.custom-input {
    width: 200px; 
    padding: 5px; 
}
.table-row {
    margin-bottom: 10px; 
}